.wrapper {
  min-height: 100vh;
  background-color: black;
  color: white;
}
.main {
  min-height: calc(100vh - 200px);
  /* min-height: 100vh; */
}
* {
  box-sizing: border-box;
}
.book-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
